{% extends 'base.html.twig' %}

{% block title %}Authors index{% endblock %}

{% block body %}

<main id="main-authors-index">


    <h1>Authors index</h1>


<a href="{{ path('app_authors_new') }}" class="btn btn-outline-primary button-new">Create new author</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.lastName }}</td>
                <td>
                    <a href="{{ path('app_authors_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('app_authors_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    

</main>



{% endblock %}
